---

extends: default

yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 80
    level: warning
    allow-non-breakable-words: true

  # accept both     key:
  #                   - item
  #
  # and             key:
  #                 - item
  indentation:
    spaces: 2
    indent-sequences: false
  quoted-strings: disable
